.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1270px;
    justify-content: center;
}

.photos{
    float: right;
    margin-right: 20px;
    padding: 4px;
}
  
.photos img{
    margin-top: 8px;
    width: 200px;
    display: block;
    padding: 10px;
}

.text {
    width: 200px;
    text-align: justify;
}


